table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;


}

th, td {
    border: 3px solid brown;
    padding: 8px;
    

}